<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.restaurant.name %>
    </title>
</head>

<body>
    <%- include('./partials/nav') %>

    <h1>Home Page</h1>
    <p>
        <%= locals.restaurant.name %>
    </p>
    <p>
        <%= locals.restaurant.address %>
    </p>
    <p>
        <%= locals.restaurant.phone %>
    </p>


    <% if (locals.restaurant.isOpen) { %>
        <p>Yes we are open</p>
    <% } else { %>
        <p>Sorry, we are closed.</p>
    <% } %>


</body>

</html>