
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
<%- include('./partials/nav') %>
  <h1>Full Menu</h1>


    <% locals.restaurantmenu.forEach(function(dish){ %>
      <h2><%= dish.name %></h2>
      <p>£<%= dish.price %></p>
      <p><%= dish.details %></p>
      <p>Customers say: <%= dish.rating %>⭐</p>
      
    <% }); %>


</body>
</html>
